<html>

<head></head>

<body style='background: #f1f1f1;padding:10px 0;'>
    <table cellspacing='0' cellpadding='0' border='0' width='55%' style='margin: 0 auto;'>
        <tr>
            <td valign=top style='font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 20px;color: #474747;padding: 6px;vertical-align: middle;border-top: 5px solid #00a1d3;background: #fff;'>Welcome to Ruby's Collection</td>
            <td valign=top style='font-family:Verdana, Arial, Helvetica, sans-serif; font-size : 13px; color:#474747;padding:6px;text-align: right;border-top: 5px solid #00a1d3;background: #fff;'>
                <img src='https://myglobalbazar-image-uploads.s3.ap-south-1.amazonaws.com/logoImage/logoImage_1617195849416_FB_IMG_1616852702085.jpg' height='auto' width='100px'>
            </td>
        </tr>

        <tr>
            <td colspan='2' style='font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 20px;padding: 5px;text-align:center;background: #00A1D3;color: #fff;'>Thanks for Placing order with rubysheikh.com.</td>
        </tr>
        <tr>
            <td colspan='2' style='font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;padding: 5px 25px;text-align:left;color: #474747;background:#fff;'>
                <p>Dear Customer</p>
                <p>Thank you for shopping with Ruby's Collections, We have recived your order, we are going dispatch your products soon!.
                        To manage and monitor your order, Please click here <a href="https://rubysheikh.com/order-list.php">My Orders</a>. For
                        For any other Queries, Please contact our support.</p>
            </td>
        </tr>
        <tr>
            <td colspan='2' style='font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;padding: 5px 25px;text-align:left;color: #474747;background: #fff;'>
                <p style='text-align:center;'>
                        <img width="560" height="315" src="https://myglobalbazar-image-uploads.s3.ap-south-1.amazonaws.com/sliderImg/sliderImg_1617129528844_PicsArt_03-30-11.11.31.jpg" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></img>
                    
                </p>
            </td>
        </tr>
        <tr>
            <td colspan='2' style='font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 13px;padding: 10px 0;text-align:left;color: #474747;border-top: 1px solid #ddd;'>
                <p style='margin: 0 0 5px 0;'>Thanks & Regards,</p>
                <p style='margin: 0 0 5px 0;'>Ruby's Collections</p>
            </td>
        </tr>
        <tr>

            <td colspan='2' style='font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 15px;border-bottom: 3px solid #00A1D3;padding: 10px;text-align:center;background: #ccc;color: #444;'>© 2021 rubysheikh.com All right reserve</td>
        </tr>
        <tr>
            <td colspan='2' style='font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;border-bottom: 3px solid #00A1D3;padding: 10px;text-align:center;background: #ccc;color: #444;'> Designed and Maintained by <a href="https://rubysheikh.com/order-list.php">My Global Bazar</a></td>
        </tr>
    </table>
</body>

</html>