<html>
<head>
</head>
<body style='background: #fff;padding:0;margin:0;'>
<table cellspacing='0' cellpadding='0' border='0' width='56%' style='margin: 0 auto;'>

<tr>
	<td valign=top style='color:#fff;padding:13px;text-align:left;background: #3059bb;'><img src='https://s3.ap-south-1.amazonaws.com/myglobalbazar.com/img/Logo+with+Tagline.png' width='200'></td>
	<td valign=top style='font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 11px;color: #fff;padding: 13px;vertical-align: middle;text-align:right;background: #3059bb;text-shadow: 0 0 1px #fff;'>Dynamic Execution Private Limited</td>
</tr>

</table>

<table cellspacing='0' cellpadding='0' border='0' width='52%' style='margin: 0 auto;'>

<tr>
	<td colspan='2' style='padding: 10px 0;font-family: sans-serif;font-size: 17px;color: #333;'>
		<p style='margin: 0 0 5px 0;'>Stress: PLEASE STOP ALLOCATION ----- ASSAM & NORTH EAST---- Due to local disturbance regarding the implementation of Citizenship bill</p>
		
	</td>
</tr>
<tr>
	<td colspan='2' style='padding: 10px 0 50px;font-family: sans-serif;font-size: 17px;color: #333;'><p style='margin: 0 0 5px 0;'>Please <span style='color:#0033ab;font-weight:600;'><a href="www.myglobalbazar.com">log on</a></span> to view details.</p></td>
</tr>

<tr>
	<td colspan='2' style='padding: 10px 0;font-family: sans-serif;font-size: 17px;color: #333;'>
		<p style='margin: 0 0 5px 0;'><p>
			Dear Concern,
		
		 
		
		Kindly note that, Entire Assam & Northeast state is in stress due to the local disturbance regarding the implementation of Citizenship bill. Pickup and deliveries will be effected. Please stop all bookings of these two location.
		
		 
		
		We will try and expedite deliveries of those shipments that have already been picked up however, we may be unable to do anything on urgent basis and most of it will take time to move. Kindly inform your customers regarding the same.
		
		 
		
		We will keep you updated of developments on this situation.
		
		 
		<br><br>
		Thanks & Regards,<br>
		HR Management-Myglobalbazar.</p>
		
	</td>
</tr>
</table>


</p>
</body>
</html>
