<html>
<head>
</head>
<body style='background: #fff;padding:0;margin:0;'>
<table cellspacing='0' cellpadding='0' border='0' width='56%' style='margin: 0 auto;'>

<tr>
	<td valign=top style='color:#fff;padding:13px;text-align:left;background: #3059bb;'><img src='https://s3.ap-south-1.amazonaws.com/global-mail-images/smartshippingservice/logo.png' width='200'></td>
	<td valign=top style='font-family: Verdana,Arial,Helvetica,sans-serif;font-size: 11px;color: #fff;padding: 13px;vertical-align: middle;text-align:right;background: #3059bb;text-shadow: 0 0 1px #fff;'>Dynamic Execution Private Limited</td>
</tr>

</table>

<table cellspacing='0' cellpadding='0' border='0' width='52%' style='margin: 0 auto;'>
<tr>
	<td style='padding: 50px 0 0;font-family: sans-serif;font-size: 18px;font-weight: 600;color: #444;'>https://www.mmicre.com/
</td>
	<td style='padding: 50px 0 0;font-family: sans-serif;font-size: 18px;font-weight: 600;color: #444;text-align: right;'><img src='https://glamoragein.000webhostapp.com/warning.jpg' width='17'> Immediate attention needed.</td>
</tr>
<tr>
	<td style='padding: 0 0 50px;font-family: sans-serif;font-size: 18px;font-weight: 600;color: #444;'>Invoice number#  002/19-20</td>
	<td style='padding: 0 0 50px;font-family: sans-serif;font-size: 18px;font-weight: 600;color: #444;text-align: right;'>About to be suspended.</td>
</tr>
<tr>
	<td colspan='2' style='padding: 10px 0;font-family: sans-serif;font-size: 17px;color: #333;'>
		<p style='margin: 0 0 5px 0;'>You are requested to pay the subscription fees due <span style='font-weight:600;'>Invoice number#  002/19-20.</span></p>
		<p style='margin: 0 0 5px 0;'>As of 25-05-19 you have got two instalment due <span style='color:#0033ab;font-weight:600;'>Rs. 3532.92 </span> from you.</p>
	</td>
</tr>
<tr>
	<td colspan='2' style='padding: 10px 0 50px;font-family: sans-serif;font-size: 17px;color: #333;'><p style='margin: 0 0 5px 0;'>Please <span style='color:#0033ab;font-weight:600;'><a href="https://app.myglobalbazar.com/">log on</a></span> to view invoice details in your account and pay OR you can directly make bank Transfer as mentioned below.</p></td>
</tr>
</table>

<table cellspacing='0' cellpadding='0' border='0' width='52%' style='margin: 0 auto;'>
<tr>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;font-weight: 600;color: #333;background-color:#fafafa;width:16.66%;'>Invoice No #</td>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;font-weight: 600;color: #333;background-color:#fadbdf;width:16.66%;'>Status</td>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;font-weight: 600;color: #333;background-color:#fafafa;width:16.66%;'>Details</td>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;font-weight: 600;color: #333;width:16.66%;'>Priority</td>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;font-weight: 600;color: #333;background-color:#fafafa;width:16.66%;'>Due Date</td>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;font-weight: 600;color: #333;width:16.66%;'>Payment Option</td>
</tr>
<tr>
	<td style='border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 25px 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;width:16.66%;'>002/19-20.</td>
	<td style='border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 25px 10px;font-family: sans-serif;font-size: 13px;color: #0033ab;background-color:#fadbdf;width:16.66%;'>Due</td>
	<td style='border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 25px 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;width:16.66%;'>2nd and 3rd instalment of your website maintenance and shipping services.</td>
	<td style='border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 25px 10px;font-family: sans-serif;font-size: 13px;color: #555;width:16.66%;'>Expedite</td>
	<td style='border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 25px 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;width:16.66%;'>27 FEB 2019</td>
	<td style='border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding: 25px 10px;font-family: sans-serif;font-size: 13px;color: #555;width:16.66%;'>Direct Bank Transfer OR Account gateway in Invoice section in your account.</td>
</tr>
</table>

<table cellspacing='0' cellpadding='0' border='0' width='52%' style='margin: 20px auto;'>
<tr>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;font-weight: 600;color: #333;'>Myglobalbazar Contact Info: <span style='color:#0033ab;'>contact@myglobalbazar.com</span></td>
</tr>
<tr>
	<td style='border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;font-weight: 600;color: #333;'>Ph/WhatsApp: 9831930617<br>www.myglobalbazar.com</td>
</tr>
</table>

<table cellspacing='0' cellpadding='0' border='0' width='52%' style='margin: 20px auto;'>
<tr>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;'><span style='font-weight:600;display:block;margin-bottom:10px;color:#333;'>Bill from: Myglobalbazar</span>
		Dynamic Execution Private Limited, 244, Sector 2, VIP Nagar, Kolkata, West Bengal 700039. <br>GSTIN: 19AAGCD3462L1ZB <br>
		PAN: AAGCD3462L
	</td>
	<td style='border-right: 1px solid #ddd;border-top: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;'><span style='font-weight:600;display:block;margin-bottom:10px;color:#333;'>Service Details:</span>
		This invoice is generated against the service given to https://www.mmicre.com/ for hosting , maintenance and shipping for the duration of 18-Feb-2019 to 18-May-2019.
	</td>
</tr>
<tr>
	<td style='border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;'><span style='font-weight:600;display:block;margin-bottom:10px;color:#333;'>Bill To: MMICRE</span>
		142/2,old sahara road, New Barrackpore, Near Chitrarath Cinema Hall, 700131
	</td>
	<td style='border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;'></td>
</tr>
</table>

<table cellspacing='0' cellpadding='0' border='0' width='52%' style='margin: 20px auto;'>
<tr>
	<td style='width:50%;border-left: 1px solid #ddd;border-top: 1px solid #ddd;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;font-weight:600;'>Previous Payment History</td>
	<td style='width:25%;border-top: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;font-weight:600;'>Transaction Details:</td>
	<td style='width:25%;border-top: 1px solid #ddd;border-right: 1px solid #ddd;'></td>
</tr>
<tr>
	<td style='width:50%;border-left: 1px solid #ddd;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;'><span style='font-weight:600;'>Payment Date:</span><br>18-Nov-2018.</td>
	<td style='width:25%;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;'><span style='font-weight:600;'>Receive Date</span><br>19-Nov-2018.</td>
	<td style='width:25%;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;'><span style='font-weight:600;'>Service Start Date</span><br>18-Nov-2018.</td>
</tr>
<tr>
	<td style='width:50%;border-left: 1px solid #ddd;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;font-weight:600;'>Description:<br>Website hosting and maintenance for the duration 18-Nov-2018 to 17-Feb-2019.</td>
	<td style='width:25%;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;'><span style='font-weight:600;'>Payment Method</span><br>Myglobalbazar panel Paymentgateways</td>
	<td style='width:25%;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;'><span style='font-weight:600;'>Payment Reference</span><br>CITIN19969361348</td>
</tr>
<!-- <tr>
	<td style='width:50%;border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;'></td>
	<td style='width:25%;border-bottom: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;'><span style='font-weight:600;'>P/N Incoming</span><br>0000</td>
	<td style='width:25%;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;'><span style='font-weight:600;'>P/N Outgoing</span><br>0000</td>
</tr> -->
</table>

<table cellspacing='0' cellpadding='0' border='0' width='52%' style='margin: 20px auto;'>
<tr>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;width:25%;'><span style='font-weight:700;display:block;margin-bottom:5px;'>Bank Name</span>HDFC BANK Ltd. SALT LAKE CITY</td>
	<td style='border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;background-color:#fafafa;width:25%;'><span style='font-weight:700;display:block;margin-bottom:5px;'>Account No.</span>50200034060330</td>
	<td style='border-left: 1px solid #ddd;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;width:25%;'><span style='font-weight:700;display:block;margin-bottom:5px;'>Account Name.</span>DYNAMIC EXECUTION PRIVATE LIMITED.</td>
	<td style='border-top: 1px solid #ddd;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 10px;font-family: sans-serif;font-size: 13px;color: #555;width:25%;'><span style='font-weight:700;display:block;margin-bottom:5px;'>IFSC</span>HDFC0000718</td>
</tr>
</table>

<table cellspacing='0' cellpadding='0' border='0' width='52%' style='margin: 0 auto;'>

<tr>
	<td colspan='2' style='font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 10px;line-height: 16px;padding: 15px 0;text-align:left;color: #555;border-top: 1px solid #ddd;'>
	<p style='margin: 0 0 5px 0;'>MyGlobalBazar is a complete solution for the business willing to start e-commerce 
		, This platform is designed to offer an cost effective robust solution to the merchant who are willing to grow by selling online and establish their own brand.  MyGlobalBazar
		is a one stop solution for end-to-end need that includes domain  
											registration
		,  domain hosting
		, product inventory, payment gateway order management
		,   shipping with COD
		 and all other modern facilities that a customer may expect from an retail giant. We also help your business to grow through SEO support. The platform take care of all security and compliance need for your business before it launches your website.</p>
	</td>
</tr>

</table>
</body>
</html>
