<div class="article_part_form col-lg-12">
  <div class="col-lg-12 no-padding">
    <div class="card card-default">
      <div class="card-header">
        Orders List
      </div>
      <div class="card-body">
        <div class="col-lg-12 no-padding row">
          <!-- <div class="col-lg-4 pull-left">
              <label class="col-xs-12 label-control">Sort by name or email id</label>
              <select class="form-control input-sm" [(ngModel)]="sortBy">
                  <option ngValue="">Sort by name or email id</option>
                  <option ngValue="firstName">First name</option>
                  <option ngValue="userName">Email</option>
                  
              </select>
           </div>
           <div class="col-lg-4 pull-left">
              <label class="col-xs-12 label-control">Sort by order</label>
              <select class="form-control input-sm" [(ngModel)]="sortOrder">
                  <option ngValue="asc">Ascending</option>
                  <option ngValue="desc">Descending</option>
                  <option ngValue="badValue">Bad value</option>
              </select>
          </div> -->
          <!-- <div class="col-lg-4 pull-left search_icon"> -->
          <!-- <div class="col-lg-12 pull-left search_icon">
            <label class="label-control">Search by Product Name</label>
            <input type="text" [(ngModel)]="filterQuery" placeholder="Search by Product Name" class="form-control" />
          </div> -->
        </div>
        <!-- <form [formGroup]="user_activate"> -->
          <form class="table-responsive">
          <table class="table table-hover table-striped" [mfData]="data | dataFilter : filterQuery : title"
            #mf="mfDataTable" [mfRowsOnPage]="5" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
            [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th scope="col">
                  <mfDefaultSorter by="picture">Order Date</mfDefaultSorter>
                </th>
                <th scope="col">
                  <mfDefaultSorter by="firstName">Payment Status/Mode</mfDefaultSorter>
                </th>
                <!-- <th scope="col">
                  <mfDefaultSorter by="userName">Payment Mode</mfDefaultSorter>
                </th> -->
                <!-- <th scope="col">
                  <mfDefaultSorter by="userName">Payment Date</mfDefaultSorter>
                </th> -->
                <th scope="col">
                  <mfDefaultSorter by="userName">Order Status</mfDefaultSorter>
                </th>
                <th scope="col">
                  <mfDefaultSorter by="userName">Order Details</mfDefaultSorter>
                </th>
                <th scope="col">
                  <mfDefaultSorter by="userName">Shipping Details</mfDefaultSorter>
                </th>
                <th scope="col">
                  <mfDefaultSorter by="userName">Action</mfDefaultSorter>
                </th>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>
                  {{item.added_date | date: 'MMM d, y, h:mm a'}}
                </td>
                <td>{{item.paymentDetails.paymendStatus}}<br/>{{item.paymentDetails.paymentMode}}</td>
                <!-- <td>{{item.paymentDetails.paymentMode}}</td> -->
                <!-- <td>{{item.paymentDetails.payment_date | date: 'dd-MMM-yyyy'}}</td> -->
                <td>{{item.orderStatus}}</td>
                <!-- <td>
                  {{item.Published}}
                </td> -->
                <td >
                  <div class="row" *ngFor="let product of item.orderDetails.products">
                    {{product.title }} (Q:{{product.quantity}}) <br>
                  </div>
                </td>
                <td>
                  <strong>Name:</strong> {{item.shippingDetails.customerName }} <br>  <strong>Ph#</strong>{{item.shippingDetails.phoneNumber}} <br> 
                  <strong>Address </strong>{{item.shippingDetails.addressLine1}} {{item.shippingDetails.addressLine2}} <br> <strong>PinCode:</strong>  {{item.shippingDetails.pinCode}} <br>
                  <strong>Landmark</strong> {{item.shippingDetails.landMark}} 
                </td>
                <td>
                  <button class="btn btn-primary mb-2" (click)="viewOrderDetails(item)">Order details</button>
                  <button type="button" class="btn btn-danger" (click)="shipNow(item)">Ship Now</button>
                </td>

              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" valign="text-right">
                  <button type="button" class="btn btn-primary" (click)="next()">Next</button>
                  <!-- <mfBootstrapPaginator style="float:right;"></mfBootstrapPaginator> -->
                </td>
                <td colspan="5" valign="text-right">
                  <button type="button" class="btn btn-primary" (click)="prev()">Previous</button>
                  <!-- <mfBootstrapPaginator style="float:right;"></mfBootstrapPaginator> -->
                </td>
                <td colspan="5" valign="text-right">
                  <span>Page: {{page}}</span>
                </td>
              </tr>
            </tfoot>
          </table>

          <!-- <div class="row">
  <div class="tagSelection col-lg-8">
      <ng-select [items]="articledata | async"
        bindLabel="title"
        formControlName="articles"
        [hideSelected]="true"
        [loading]="articleloading"
        placeholder="Search Tags"
        [typeahead]="articleinputs$"
       >
    </ng-select>
  </div>
    <div class="add-tag-button col-lg-4">
      <button type="button" class="btn btn-primary" (click)="addAritcle(user_activate.articles)">Add content</button>
    </div>
    </div> -->
        </form>
      </div>
    </div>
  </div>

</div>